.top {
  line-height: 0.5;
  font-family: 'Sacramento', cursive;
  background-color: #ddf3f5;
  padding-top: 50px;
  padding-bottom: 100px;
}
.middle {
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 200px;
  width: 100%;
}
.bottom {
  margin-bottom: 0px;
  height: 50px;
  width: 100%;
  font-family: serif;
  font-size: 20px;
  padding-bottom: 0px;
  line-height: 25px;
}

body {
  font-size: 40px;
  text-align: center;
  margin: 0;
}
h1 {
  color: #e2979c;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
}
.bottom-cloud {
  font-family: 'Raleway', sans-serif;
  height: 100px;
  width: 300px;
  position: absolute;
  left: 15%;
  top: 25%;
}
.top-cloud {
  font-family: 'Raleway', sans-serif;
  position: absolute;

  height: 80px;
  width: 250px;
  right: 200px;
}
.profile {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
}
.my-skills {
  color: #c70039;
}
.skills {
  padding-top: 0px;
  padding-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}
.skill-row .webdesign-img {
  height: 250px;
  width: 250px;
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: #fa1616;
}
.contact-me {
  padding-top: 0px;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
}
.saif-img {
  height: 200px;
  width: 200px;
}
.font3 {
  font-size: 20px;
}
.font1 {
  font-size: 30px;
  font-weight: 600;
}
.font2 {
  font-weight: 600;
}
.mountain {
  position: relative;
  top: 100px;
}
.first {
  font-family: 'Sacramento', cursive;
}
.business {
  font-size: 25px;
}
.copyright {
  font-size: 15px;
  padding-bottom: 3px;
  padding-top: 0px;
}
.touch {
  padding-top: 0px;
  padding-top: 0px;
  color: #e7305b;
}
.btn {
  font-size: 24px;
}
